body.login_bg {
    background: url(../images/bg_login.jpg) no-repeat center top;
    background-size: 100% 100%;
    background-attachment: fixed;
}

html,
body {
    height: 100%;
}


/*登录页*/

.whitelogin {
    background: rgba(255, 255, 255, 0.5);
    padding: 0 20px 20px 20px;
    width: 290px;
    margin: 120px auto 0 auto;
}

.whitelogin .form-group {
    margin-bottom: 20px;
}

.whitelogin h3 {
    color: #48445b;
    font-weight: bold;
}

.btn-purple {
    color: #fff;
    background-color: #565a73;
    border-color: #565a73;
}

.btn-purple:hover {
    color: #fff;
    background-color: #6c729a;
    border-color: #6c729a;
}

.whiteBg .code {
    margin-left: 10px;
    font-size: 12px;
    color: #1b8fc2;
}

.whiteBg p {
    margin-top: 15px;
    font-size: 12px;
}

.pd0 {
    padding-left: 0;
    padding-right: 0;
}


/*首页*/

.main {
    position: relative;
    height: 100%;
}


/*左侧*/

.left {
    background: #1874CD;
    color: #FFF;
    padding: 0;
    position: relative;
    height: 100%;
}

.left .navbar-default {
    background: none;
}

.left .navbar-default .navbar-brand {
    color: #FFF;
    padding: 15px 30px;
}

.left .navbar-default .navbar-nav>li>a {
    color: #FFF;
    background-color: #473C8B;
    border-left: solid 2px #473C8B;
}

.left .navbar-default .navbar-nav>li>a:focus,
.left .navbar-default .navbar-nav>li>a:hover {
    background-color: #1874ED;
    border-left: solid 2px #48D1CC;
}

.left .navbar-default .navbar-nav>.active>a {
    background-color: #4876FF;
    border-left: solid 2px #4EEE94;
}

.left .navbar-default .navbar-nav>.active>a:focus,
.left .navbar-default .navbar-nav>.active>a:hover {
    background-color: #4169E1;
    border-left: solid 2px #4EEE94;
}

.left .navbar-default,
.left .navbar-collapse {
    border: none;
}

.left .navbar-header {
    padding-right: 20px;
}

.left .navbar-default .navbar-collapse,
.left .navbar-default .navbar-form {
    border: none;
}

.left .navbar-default .navbar-toggle:focus,
.left .navbar-default .navbar-toggle:hover {
    background-color: #436EEE;
}

@media (max-width: 768px) {
    .left {
        height: auto;
    }
}

@media (min-width: 768px) {
    .left .navbar-nav>li {
        width: 100%;
    }
    .left .navbar-collapse {
        padding-right: 0;
    }
}


/*右侧*/

.right {
    margin: 50px;
    float: left;
}

.right h3 {
    border-bottom: solid 1px #cdcdcd;
    padding-bottom: 10px;
}
