<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=320.1,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="javascripts/sea.js"></script>
    <title>百度新闻</title>
</head>

<body>
    <div id="wrapper" class="news">
        <div class="index-view">
            <header class="header">
                <div class="toolbar">
                    <div class="toolbar-l">
                        <span class="btn-baidu ui-new-toolbar-btn"><a href="#"></a></span><span class="btn-userhome ui-new-toolbar-btn"><a href="#"></a></span>
                    </div>
                    <div class="toolbar-r">
                        <span class="btn-search ui-new-toolbar-btn"><a href="#"></a></span><span class="btn-subscribe ui-new-toolbar-btn"><a href="#"></a></span>
                    </div>
                </div>
            </header>
            <!-- /header -->
            <article class="view-content">
                <div class="index-navigator">
                    <table class="cf">
                        <tbody>
                            <tr>
                                <td><b></b><span class="cur">推荐</span></td>
                                <td><b></b><span>百家</span></td>
                                <td><b></b><span>本地</span></td>
                                <td><b></b><span>图片</span></td>
                                <td><b></b><span>娱乐</span></td>
                                <td><b></b><span>社会</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="index-content">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slide-img">
                                        <img src="http://timg01.baidu-img.cn/timg?tc&size=b900_562&sec=0&quality=75&cut_x=0&cut_y=18&cut_h=562&cut_w=0&di=9e03212908e9069f73660c60ebef1afa&src=http%3A%2F%2Ft10.baidu.com%2Fit%2Fu%3Dhttp%3A%2F%2Fimg2.cache.netease.com%2Fphoto%2F0001%2F2016-06-28%2F900x600_BQKQNLGE00AP0001.jpg%26fm%3D94">
                                    </div>
                                    <h4 class="slide-title"><span>80后蜘蛛人 “跳楼”擦窗救患病弟弟</span></h4>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-img">
                                        <img src="http://timg01.baidu-img.cn/timg?tc&size=b497_311&sec=0&quality=75&cut_x=62&cut_y=0&cut_h=0&cut_w=497&di=15f25fd3a4ad71b8fe27bb67bdd84fa2&src=http%3A%2F%2Fc.hiphotos.baidu.com%2Fnews%2Fcrop%253D9%252C35%252C623%252C311%2Fsign%3D74fd741a5b43fbf2d163fc638d47e6b3%2Fe824b899a9014c08dca779b7027b02087bf4f400.jpg">
                                    </div>
                                    <h4 class="slide-title"><span>为激励女儿 英国妈妈当大码模特</span>
                                    </h4>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-img">
                                        <img src="http://timg01.baidu-img.cn/timg?tc&size=b690_431&sec=0&quality=75&cut_x=0&cut_y=45&cut_h=431&cut_w=0&di=7c1fc2e094f9f7640cc6ee73723d4a2e&src=http%3A%2F%2Ft10.baidu.com%2Fit%2Fu%3Dhttp%3A%2F%2Fimg3.cache.netease.com%2Fphoto%2F0001%2F2016-06-27%2FBQJSRVQG00AN0001.jpg%26fm%3D94">
                                    </div>
                                    <h4 class="slide-title">
                                    <span>中国第2批男航天员首亮相 参加洞穴训练</span>
                                    </h4>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                        <div class="hotword swiper-hotword">
                            <div class="hotword-left"><span>热点</span></div>
                            <ul class="hotword-content swiper-wrapper">
                                <li class="hotword-item swiper-slide">男子看欧洲杯气走媳妇</li>
                                <li class="hotword-item swiper-slide">10省份进入周末“2.5天休假”模式</li>
                                <li class="hotword-item swiper-slide">希拉里被曝私人手机授权空袭</li>
                                <li class="hotword-item swiper-slide">巴菲特午餐拍卖得主或为中国人</li>
                                <li class="hotword-item swiper-slide">俄球迷追打英球迷</li>
                                <li class="hotword-item swiper-slide">28省份明确高温津贴发放标准</li>
                                <li class="hotword-item swiper-slide">习近平就美国枪击案致电奥巴马</li>
                                <li class="hotword-item swiper-slide">重庆超大马蜂窝</li>
                            </ul>
                        </div>
                        <div class="index-content-items">
                            <ul id="newsul" class="index-content-items-inner">
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="userhome-view">
            <header class="header">
                <div class="toolbar">
                    <div class="toolbar-r rotate180">
                        <div class="ui-new-toolbar-btn btn-back">
                        </div>
                    </div>
                </div>
            </header>
            <article class="view-content">
                <div class="index-navigator">
                    <div class="user-photo">
                        <div class="imgwrapper">
                            <img src="http://himg.bdimg.com/sys/portrait/item/aa14686976616e6475700d">
                        </div>
                    </div>
                    <div class="user-name"><span>zhanglei</span></div>
                </div>
                <ul class="usercenter-mine">
                    <li class="msg"><i></i>我的消息</li>
                    <li class="favor"><i></i>我的收藏</li>
                    <li class="interest"><i></i>兴趣模型</li>
                    <li class="logout"><i></i>退出登录</li>
                </ul>
                <div class="usercenter-line">
                </div>
                <ul class="usercenter-setting">
                    <li class="imagemode"><i></i>无图模式<i class="right"></i></li>
                    <li class="touchmode on"><i></i>左右滑动<i class="right"></i></li>
                </ul>
            </article>
        </div>
        <div class="searchbox-view">
            <header class="header">
                <div class="toolbar">
                    <div class="toolbar-l">
                        <div class="ui-new-toolbar-btn btn-back">
                        </div>
                    </div>
                </div>
            </header>
            <article class="view-content">
                <div class="searchbox">
                    <form action="" class="search-form" method="get">
                        <div class="search">
                            <input type="text" class="search-input" value="">
                            <input type="submit" class="search-button" value="百度一下">
                        </div>
                    </form>
                </div>
                <div class="search-hotword">
                    <h2 class="hotword-title">热搜榜</h2>
                    <ul class="hotword-items">
                        <li class="hotword-item">习近平将厨房塞尔维亚等国</li>
                        <li class="hotword-item">上海迪士尼开幕</li>
                        <li class="hotword-item">中国公开“航母杀手”训练情况</li>
                        <li class="hotword-item">渔民将母鲨鱼“剖腹产”</li>
                        <li class="hotword-item">深圳钉子户坚守16年</li>
                        <li class="hotword-item">国务院公布盐改方案</li>
                        <li class="hotword-item">中国钢企每吨钢利润1元</li>
                        <li class="hotword-item">女生自行滴眼药几乎失明</li>
                        <li class="hotword-item">探访中国海南“光棍村”</li>
                        <li class="hotword-item">40城宜居指数北京最低</li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="subscribe-view"></div>
    </div>
    <script type="text/javascript">
    seajs.config({
        base: './javascripts',
    })
    seajs.use('main');
    </script>
</body>

</html>
